@font-face {
	font-family: Seurat Pro;
	src: url('./fonts/FOT-Seurat_Pro_B.otf');
	font-weight: bold;
}

@font-face {
	font-family: Seurat Pro;
	src: url('./fonts/FOT-Seurat_Pro_M.otf');
	font-weight: normal;
}

.clock {
	position: absolute;
	left: 5vw;
	bottom: 2vw;
	font-family: Seurat Pro;
	font-size: 40px;
	font-weight: bold;
	color: #f2f2e1;
	z-index: 2;
}

#time {
	font-size: 100%;
}

.ampm {
	border: 0px solid #dd0000;
	font-family: Seurat Pro;
	font-size: 50%;
	font-weight: bold;
	color: #f2f2e1;
}

.date {
	position: relative;
	top: -20px;
	border: 0px solid #dd0000;
	vertical-align: top;
	font-family: Seurat Pro;
	font-size: 24px;
	font-weight: bold;
	color: #f2f2e1;
}

.dayOfWeek {
	position: relative;
	top: -2px;
	border-radius: 50px;
	height: 70px;
	background: #f2f2e1;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Seurat Pro;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 0px #000000;
	box-shadow: 0px 0px 1px #f2f2e1;
	color: #2e2a20;
}

.divider {
	position: relative;
	margin-left: -3px;
	margin-right: -3px;
	top: -15px;
	background: #f2f2e1;
	height: 3px;
	border-radius: 5px;
	box-shadow: 0px 0px 1px #f2f2e1;
}

.faveSites {
	position: relative;
	top: 20vh;
	margin: auto;
	width: 20vw;
	height: 25vw;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	border-radius: 4vw;
	box-shadow: 0px 0px 1px #f2f2e1;
	background: #f2f2e1;
}

.lnk {
	position: absolute;
	top: 28%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: Seurat Pro;
	font-size: 1.3vw;
	font-weight: bold;
	text-shadow: 0px 0px 0px #000000;
	color: #736a5b;
}


 /* unvisited link */
a:link {
	text-decoration: none;
	color: #474239;
}

/* visited link */
a:visited {
	text-decoration: none;
	color: #474239;
}

/* mouse over link */
a:hover {
	text-decoration: none;
	color: #817968;
}

/* selected link */
a:active {
	text-decoration: none;
	color: #817968;
} 

.fSiteHdr {
	position: absolute;
	margin-top: 2vh;
	top: 0px;
	font-family: Seurat Pro;
	font-weight: bold;
	font-size: 2vw;
	color: #2e2a20;
}

.elements{
    position: absolute;
    top: -20px;
    left: -44px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.elements li{
    position: absolute;
	left: -10vw;
    display: block;
    list-style: none;
    background: rgba(0, 0, 0, 0);
	border: 0.2vw solid #afafaf;
	border-radius: 10%;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.elements li:nth-child(1){
    top: 25%;
    width: 10vw;
    height: 10vw;
	animation-duration: 25s;
    animation-delay: 1s;
}

.elements li:nth-child(2){
    top: 6%;
    width: 6vw;
    height: 6vw;
	animation-duration: 15s;
    animation-delay: 2s;
}

.elements li:nth-child(3){
    top: 45%;
    width: 8vw;
    height: 8vw;
	animation-duration: 10s;
    animation-delay: 5s;
}

.elements li:nth-child(4){
    top: 70%;
    width: 4vw;
    height: 4vw;
	animation-duration: 7s;
    animation-delay: 4s;
}

.elements li:nth-child(5){
    top: 90%;
    width: 5vw;
    height: 5vw;
	animation-duration: 20s;
    animation-delay: 1.5s;
}

@keyframes animate {

    0%{
        transform: translateX(0vw) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateX(100vw) rotate(720deg) scale(0.5, 0.5);
        opacity: 0;
    }

}

.shadow {
	text-shadow: 0px 0px 1px #ffffff;
}

.root {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
}

html {
	background: #0e0e0e;
}